body{
	width: 100%;
	min-height: 100%;
}

a {
  color: #000000 !important;
  text-decoration: none;
}
header{
	margin-bottom: 30px;
	width: 100%;
	height: 50px;
	background-color: #3D85C6;
}
footer{
	min-height: 200px;
		margin-top: 30px;
	width: 100%;
	background-color: #3D85C6;
}
li {
 list-style-type: none; /* Убираем маркеры */
}
ul{
	padding: 0px;
}
.btn-buy:hover{
cursor: pointer;
}
.box-filter{
	height: 200px;
}
.box-categori{
}
.modal_img{
	max-width:450px;
	width:450px;

}
.modal_img>img{
	max-width:100%;
	
}
.btn_container{
	width: 100%;
}
.products{
	background-color: #EDEDED;
		border-radius: 5px;
	}
.side_bar_box{
	padding:10px;
	margin-bottom: 30px;
		background-color: #EDEDED;
	border-radius: 5px;
}
.box-product{
	float: left;
	border-radius:5px;
	border:1px solid black;
	margin:10px;
	width: 250px;
	height: 310px;
}
.box-img{
	max-width: 200px;
	max-height: 160px;
	margin:10px;
}
.box-img > img{
		border-radius:5px;
width: 100%;
height: 100%;
max-height: 200px;
max-width:200px;
}
.btn-buy{
	border-radius:5px;
	background-color: #FFE30C;
		padding: 2px 7px 2px 7px;
}
.box-info{
	width: 100%;
	padding: 10px;
}
.btn-header{
	margin-top:10px;
	margin-left: 10px;
	border-radius: 5px;
	background-color: #FFE30C;
		padding: 2px 7px 2px 7px; 
}